.merkle__list {
  width: 100%;
  overflow-y: auto;
  display: flex;
  gap: 10px;
}

.merkle__block-item {
  flex: 1 1 510px;
  max-width: 510px;
  min-width: 510px;
  border-radius: 16px !important;
  background-color: rgb(196, 207, 255) !important;
}